.box--gradient
	background: #CCC
	background: linear-gradient(to bottom, rgba(255,255,255,0) 24%, rgba(0,0,0,0.82) 100%)

.thumbs-up
	background: $thumbup_color

.thumbs-down
	background: $thumbdown_color

.thumbup--transparent
	@include thumb-btn($thumbup_color, $thumbup_color-transparent)

.thumbdown--transparent 
	@include thumb-btn($thumbdown_color, $thumbdown_color-transparent)