<template>
  <div>
    <hero />
    <speak-out />
    <votes />
    <submit-name />
    <main-footer />
  </div>
</template>

<script>
import Hero from "@/components/Hero.vue";
import SpeakOut from "@/components/SpeakOut.vue";
import Votes from "@/components/Votes.vue";
import SubmitName from "@/components/SubmitName.vue";
import MainFooter from "@/components/MainFooter.vue";

export default {
  components: {
    Hero,
    SpeakOut,
    Votes,
    SubmitName,
    MainFooter
  }
};
</script>
