<template>
  <div>
    <main-header />
    <b-container>
      <h1>How it works</h1>
    </b-container>
  </div>
</template>

<script>
import MainHeader from "@/components/MainHeader.vue";

export default {
  components: {
    MainHeader
  }
};
</script>
