<template>
  <b-container>
    <b-col class="mx-auto mt-5" xs="6">
      <b-card
        class="text-center"
        img-src="https://kiite.ai/wp-content/uploads/2019/11/Lionel-Richie-.jpg"
        img-left
      >
        <b-card-text class="font-size-3 font-weigth-bold">
          Error 404
        </b-card-text>
        <b-card-text>
          page not found
        </b-card-text>
        <b-button @click="$router.go(-1)">
          Go Back
        </b-button>
      </b-card>
    </b-col>
  </b-container>
</template>
