<template>
  <b-col lg="6">
    <b-card
      class="border-0 text-white bg-transparent rounded-0 my-3 votingbox"
      :style="{
        background: `url(http://localhost:8080/${celebrity.picture}) center left / cover no-repeat`
      }"
      no-body
    >
      <b-card-body class="d-flex p-0 pr-4 pb-3 box--gradient">
        <b-media class="mt-auto mb-4">
          <template v-slot:aside>
            <div
              :class="[
                'd-flex align-items-center justify-content-center mt-3 font-size-1',
                thumbIcon
              ]"
              style="width:30px; height:30px;"
            >
              <font-awesome-icon :icon="thumbIcon" />
            </div>
          </template>
          <b-media-body>
            <h5 class="font-size-3">
              {{ celebrity.name }}
            </h5>
            <p class="font-size-1 font-weight-light">
              <strong>{{ celebrity.date }}</strong>
              ago in {{ celebrity.section }}
            </p>
            <div v-if="!celebrity.hasSubmitted" class="font-size-1" body>
              <p style="height: 55px" class="font-weight-light">
                {{ celebrity.description }}
              </p>
              <b-button-group>
                <b-button
                  class="rounded-0 border-0 mr-2 thumbup--transparent"
                  aria-label="Thumb up"
                  @click="handleVote({ ...celebrity, vote: 'up' })"
                >
                  <font-awesome-icon icon="thumbs-up" />
                </b-button>
                <b-button
                  class="rounded-0 border-0 mr-2 thumbdown--transparent flip-horizontal"
                  aria-label="Thumb down"
                  @click="handleVote({ ...celebrity, vote: 'down' })"
                >
                  <font-awesome-icon icon="thumbs-down" />
                </b-button>
              </b-button-group>
              <b-button
                class="rounded-0"
                variant="outline-light"
                aria-label="Vote now"
                @click="handleVoteSubmission(celebrity)"
                >Vote now</b-button
              >
            </div>
            <div v-else class="font-size-1">
              <p style="height: 57px" class="font-weight-light">
                {{ errorMessage }}
              </p>
              <b-button
                class="btn-outline-light rounded-0"
                aria-label="Vote again"
                variant="outline-light"
                @click="handleVoteAgain(celebrity)"
              >
                {{ errorButton }}
              </b-button>
            </div>
          </b-media-body>
        </b-media>
      </b-card-body>
      <b-card-footer class="border-0 p-0">
        <b-progress
          class="bg-transparent font-weight-light font-size-2 rounded-0"
          max="100"
        >
          <b-progress-bar
            class="text-left px-2 fit-content thumbup--transparent"
            :value="celebrity.likePercentage"
          >
            <div>
              <font-awesome-icon icon="thumbs-up" />
              <span class="ml-2">{{ celebrity.likePercentage }}%</span>
            </div>
          </b-progress-bar>
          <b-progress-bar
            class="text-right px-2 fit-content thumbdown--transparent"
            :value="celebrity.dislikePercentage"
          >
            <div>
              <span class="mr-2">{{ celebrity.dislikePercentage }}%</span>
              <font-awesome-icon class="flip-horizontal" icon="thumbs-down" />
            </div>
          </b-progress-bar>
        </b-progress>
      </b-card-footer>
    </b-card>
  </b-col>
</template>

<script>
export default {
  props: {
    celebrity: {
      type: Object,
      required: true
    },
    handleVote: {
      type: Function,
      required: true
    },
    handleVoteSubmission: {
      type: Function,
      required: true
    },
    handleVoteAgain: {
      type: Function,
      required: true
    }
  },
  computed: {
    thumbIcon() {
      return this.celebrity.likePercentage >= this.celebrity.dislikePercentage
        ? "thumbs-up"
        : "thumbs-down";
    },
    errorMessage() {
      return this.celebrity.hasErrors
        ? "Sorry, there was an error while processing your vote."
        : "Thank you for voting!";
    },
    errorButton() {
      return this.celebrity.hasErrors ? "Try again" : "Vote again";
    }
  }
};
</script>
