<template>
  <b-row>
    <box
      v-for="celebrity in celebrities"
      :key="celebrity.id"
      :celebrity="celebrity"
      :handleVote="handleVote"
      :handleVoteSubmission="handleVoteSubmission"
      :handleVoteAgain="handleVoteAgain"
    />
  </b-row>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import Box from "@/components/Box.vue";

export default {
  components: {
    Box
  },
  methods: {
    ...mapActions([
      "fetchCelebrities",
      "handleVote",
      "handleVoteSubmission",
      "handleVoteAgain"
    ])
  },
  computed: {
    ...mapGetters(["celebrities"])
  },
  mounted() {
    this.fetchCelebrities();
  }
};
</script>
