<template>
  <b-progress max="31" class="bg-transparent rounded-0">
    <b-progress-bar
      class="text-right pr-3 pl-4 fit-content hero__progress--past position-relative"
      value="9"
      >CLOSING IN</b-progress-bar
    >
    <b-progress-bar
      class="text-left text-dark pl-3 pr-4 fit-content font-size-2 hero__progress--next"
      value="22"
    >
      <div>
        <span class="font-weight-regular">22</span>
        <span class="font-weight-light"> days</span>
      </div>
    </b-progress-bar>
  </b-progress>
</template>
