<template>
  <div class="d-flex flex-column justify-content-between hero mb-5">
    <main-header />
    <main-ruling />
    <closing />
  </div>
</template>

<script>
import MainHeader from "@/components/MainHeader.vue";
import MainRuling from "@/components/MainRuling.vue";
import Closing from "@/components/Closing.vue";

export default {
  components: {
    MainHeader,
    MainRuling,
    Closing
  }
};
</script>
