<template>
  <footer>
    <b-container>
      <hr class="dotted-border" />
      <b-row>
        <b-col
          class="d-flex justify-content-center justify-content-md-start"
          md="8"
        >
          <b-nav>
            <b-nav-item class="font-weight-light text-secondary font-size-1">
              <small class="text-secondary">Terms and Conditions</small>
            </b-nav-item>
            <b-nav-item class="font-weight-light text-secondary font-size-1">
              <small class="text-secondary">Privacy Policy</small>
            </b-nav-item>
            <b-nav-item class="font-weight-light text-secondary font-size-1">
              <small class="text-secondary">Contact Us</small>
            </b-nav-item>
          </b-nav>
        </b-col>
        <b-col
          class="d-flex justify-content-center justify-content-md-end"
          md="4"
        >
          <b-nav>
            <div class="pt-2 font-weight-light text-secondary font-size-1">
              <small>Follow us</small>
            </div>
            <b-nav-item>
              <b-link class="text-secondary" href="#">
                <font-awesome-icon :icon="['fab', 'facebook-f']" />
              </b-link>
            </b-nav-item>
            <b-nav-item>
              <b-link class="text-secondary" href="#">
                <font-awesome-icon :icon="['fab', 'twitter']" />
              </b-link>
            </b-nav-item>
          </b-nav>
        </b-col>
      </b-row>
    </b-container>
  </footer>
</template>
