<template>
  <b-container>
    <b-row>
      <b-col md="6">
        <b-card
          class="text-white bg-transparent border-0 rounded-0 my-5 p-0"
          no-body
        >
          <b-card-body class="p-4 hero__box--darkblur">
            <b-card-title>
              <h1>
                <small class="d-block font-weight-light font-size-1">
                  What’s your opinion on
                </small>
                <span class="font-size-3">
                  Pope Francis?
                </span>
              </h1>
            </b-card-title>
            <b-card-text class="font-weight-light">
              He’s talking tough on clergy sexual abuse, but is he just another
              papal pervert protector? (thumbs down) or a true pedophile
              punishing pontiff? (thumbs up)
            </b-card-text>
            <b-link class="font-size-1 text-white d-block mb-4" href="#">
              <font-awesome-icon :icon="['fab', 'wikipedia-w']" />
              <small class="font-weight-light ml-1 underline"
                >More information</small
              >
            </b-link>
            <b-card-text class="font-weight-bold">
              What’s Your Verdict?
            </b-card-text>
          </b-card-body>
          <b-card-footer class="border-0 p-0">
            <b-button-group class="col-12 p-0 hero__vote">
              <b-button
                class="border-0 rounded-0 hero__vote thumbup--transparent font-size-2"
                ><font-awesome-icon icon="thumbs-up" />
              </b-button>
              <b-button
                class="border-0 rounded-0 hero__vote thumbdown--transparent font-size-2 flip-horizontal"
                ><font-awesome-icon icon="thumbs-down" />
              </b-button>
            </b-button-group>
          </b-card-footer>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>
