<template>
  <header>
    <b-navbar class="navbar--gradient" toggleable="lg">
      <b-container>
        <b-navbar-brand class="text-white font-size-2" tag="router-link" to="/"
          >Rule of thumb.</b-navbar-brand
        >
        <b-navbar-toggle class="text-white border-0" target="nav-collapse"
          ><font-awesome-icon icon="bars"
        /></b-navbar-toggle>
        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav class="font-size-1 ml-auto">
            <b-nav-item class="px-3">
              <b-link
                class="font-weight-light text-white"
                tag="router-link"
                to="/PastTrials"
                >Past Trials</b-link
              >
            </b-nav-item>
            <b-nav-item class="px-3">
              <b-link
                class="font-weight-light text-white"
                tag="router-link"
                to="/HowItWorks"
                >How It Works</b-link
              >
            </b-nav-item>
            <b-nav-item class="px-3">
              <b-link
                class="font-weight-light text-white"
                tag="router-link"
                to="/Login"
                >Log In / Sign Up</b-link
              >
            </b-nav-item>
            <b-nav-item class="px-3">
              <b-link
                class="font-weight-light text-white"
                tag="router-link"
                to="/Login"
                ><font-awesome-icon icon="search"
              /></b-link>
            </b-nav-item>
          </b-navbar-nav>
        </b-collapse>
      </b-container>
    </b-navbar>
  </header>
</template>
