<template>
  <div class="mb-5">
    <b-container>
      <b-jumbotron class="position-relative rounded-0 py-4">
        <b-row>
          <b-col class="mb-3 mb-lg-0 text-center" lg="3">
            <div class="font-weight-light">
              Speak out. Be heard.
            </div>
            <div class="font-size-2 font-weight-bold">
              Be counted
            </div>
          </b-col>
          <b-col class="font-size-1 font-weight-light" lg="8">
            Rule of Thumb is a crowd sourced court of public opinion where
            anyone and everyone can speak out and speak freely. It’s easy: You
            share your opinion, we analyze and put the data in a public report.
          </b-col>
        </b-row>
      </b-jumbotron>
    </b-container>
  </div>
</template>
