<template>
  <div class="mb-5">
    <b-container>
      <div class="submitname p-3">
        <b-row>
          <b-col
            class="font-size-2 font-weight-light mb-3 mb-lg-0 text-center text-lg-left"
            lg="9"
          >
            Is there anyone else you would want us to add?
          </b-col>
          <b-col class="d-flex justify-content-center" lg="3">
            <b-button
              class="btn-lg rounded-0"
              aria-label="Submit a name"
              variant="outline-secondary"
            >
              Submit a Name
            </b-button>
          </b-col>
        </b-row>
      </div>
    </b-container>
  </div>
</template>
