<template>
  <div class="mb-5">
    <b-container>
      <b-row>
        <b-col>
          <h2>Votes</h2>
        </b-col>
      </b-row>
      <boxes />
    </b-container>
  </div>
</template>

<script>
import Boxes from "@/components/Boxes.vue";

export default {
  components: {
    Boxes
  }
};
</script>
